@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.font{
    font-family: 'Poppins', sans-serif;
}

/* header section  */
header{
    background-image: url(../img/header-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-1{
    color: #ffffff;
    background-color: #FA4A0C;
    padding: 6px 20px;
    border-radius: 15px;
}
.btn-2{
    color: #ffffff;
    padding: 5px 19px;
    border: 1px solid #ffffff;
    border-radius: 15px;
}

/* mobile  */

.mobile{
    z-index: 20;
    margin-top: -300px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mobile img{
    width: 500px;
}